<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div id="app">
        <!-- 
        v-for 循环对象
        v-for="(value,key,index) in obj"
          -->
        <div class="item" v-for="(value,key,index) in obj" :key="value">
            <h1>索引:{{key}}</h1>
            <h1>value:{{value}}</h1>
            <h1>index:{{index}}</h1>
        </div>
    </div>
</body>
<script src="../node_modules/vue/dist/vue.js"></script>
<script>
    let vm = new Vue({
        el: "#app",
        data: {
            obj: {
                name: "Tom",
                sex: "🚹",
                phone: "123456789"
            }
        }
    })
</script>

</html>